/* Home.css */

.home-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px; /* Add rounded corners to the header */
}

.header .left {
  font-size: 24px;
}

.header .right .complete-profile {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* Add rounded corners to the button */
}

.profile-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex; /* Display children horizontally */
  flex-direction: column; /* Stack children vertically within the container */
}

.profile-input {
  display: flex;
  flex-direction: row; /* Display name and input fields side by side */
  align-items: center;
  margin: 10px 0;
}

.profile-input label {
  font-weight: bold;
  flex: 1; /* Allow label to grow and take available space */
}

.profile-input input {
  flex: 3; /* Allow input field to grow and take available space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
}
