/* Home.css */

.home-container {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px; /* Add rounded corners to the header */
}

.header .left {
  font-size: 24px;
}

.header .right .complete-profile {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* Add rounded corners to the button */
}
.header .right .Logout {
  background-color: #dd1d1d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; /* Add rounded corners to the button */
}
.profile-form {
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 20px;
  width: 700px; /* Made the box wider */
}

.profile-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-input label {
  font-size: 16px;
  margin-right: 20px; /* Increased the gap between the tags and the actual input fields */
}

.profile-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.profile-buttons {
  margin-top: 20px;
  text-align: center;
}

.profile-completion {
  background-color: #2980b9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.send-link-button {
  background-color: #ccc;
  color: #666;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-completion:hover {
  background-color: #3498db;
}

.send-link-button:hover {
  background-color: #ddd;
}
